body{
  font-family: 'Lato', sans-serif;
  font-family: 'Open Sans', sans-serif;
}
/* nav start */
nav{
  display: flex;
  justify-content: space-between;
  padding-left: 240px;
  padding-right: 240px;
  align-items: center;
  background: #FFF;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
  
  

  
}
.span-g{
  font-size: 45px;
}

.logo-container{
  display: flex;
  align-items: center;
  gap: 20px;
  
}
.manu-items{
  display: flex;
  gap: 32px;
  align-items: center;

}
li{
  list-style: none;
}
a{
  text-decoration: none;
  color: #3C354F;
  font-size: 18px;
  font-weight: 500;
  
}
.logo-container img{
  width: 86.041px;
  height: 40px;
}
.logo-container p{
  font-size: 30px;
  font-weight: 700;

}
.span-g{
  color: #FF42A5;
}
.nav-button{
  width: 200px;
  height: 40px;
  border-radius: 8px;
  background: rgba(11, 2, 35, 0.10);
  border: none;
  color: #3C354F;
  
}
/* nav end */
/* main part start */
.banner-part{
  display: flex;
  justify-content: space-between;
  

}
.banner-text{
  padding-top: 148px;
  padding-left: 240px;
  background-image: url(./images/Group14.png);
  width: 901px;
  height: 700px;
  background-repeat: no-repeat;

}
.h3-class{
  color: #0B0223;
  font-size: 48px;
  font-weight: 600;
}
.span-text{
  background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
font-size: 85px;
font-weight: 800px;



}
.pagragraph-text{
  color: #534C64;
 font-size: 20px;
 font-weight: 500;
 line-height: 17px;
 padding-left: 20px;
 
}

.button-1{
  border-radius: 48px;
  background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
  padding: 15px 40px;
  border: none;
  color: #FFF;

  font-size: 18px;

  font-weight: 400;

  
  
}
  .button-2{
    border-radius: 48px;
    background: #4EC5F7;
    padding: 15px 40px;
    border: none; 
    color: #FFF;
    font-size: 18px;
    font-weight: 400;
    
  }
 .banner-photo{
  padding-top: 19px;
  padding-right: 240px;

 }    
 .banner-btn{
  display: flex;
  gap: 24px;
  margin-top: 41px;
  
 }
 .online-game{
  text-align: center;
 }
 .online-game-text{
  color: #0B0223;
  font-size: 48px;
  font-weight: 700;

 }
 .funn-v-sec{
  background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
font-size: 48px;
font-weight: 700;
}
.online-paragraph{
  color: #534C64;
font-size: 18px;
font-weight: 400;
line-height: 30px;
}
.online-logo-sec{
  display: flex;
  justify-content: center;
  gap: 24px;
  padding-top: 48px;

}
.hard-container{
  display: flex;
  justify-content: space-between;

}
.hard-container{
  margin-top: 150px;

}
.sceond{
  position: relative;
  bottom: 250px;
  right: 100px;
}
.hard-img{
  padding-right: 240px;

}
.hard-sec-texts{
  padding-left: 439px;
  padding-top: 150px;
  padding-right: 200px;
}
.hard-tex{
font-size: 48px;
line-height: 60px;
 }
 .play{
  background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
 }
 .hard-para{
  color: #534C64;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px; 
 }
 .frist-five{
  display: flex;
  justify-content: space-around;
 }
.small-texts{
  display: flex;
}
.lasst-four{
  display: flex;
}
.footer-logo{
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: center;
}
.logo-img-two{
  width: 86.041px;
height: 40px;

}
.logo-text-2{
font-size: 40px;
font-weight: 700;
}
.footer-tex{
  display: flex;
  justify-content: center;
  gap: 60px;
  
}
.social-logo{
  display: flex;
  justify-content: center;
  gap: 40px;
  padding-top: 30px;
  padding-bottom: 30px;
}
.footer-tex-two{
  display: flex;
  justify-content: center;
  gap: 60px;
  color: rgba(255, 255, 255, 0.60);
}
.copy-right{
  text-align: center;
  color: rgba(255, 255, 255, 0.60);
  padding-bottom: 130px;
}
footer{
  background-color: #0B0223;
}
.logo-text-21{
  font-size: 45px;
  font-weight: 700;
  color: #FFF;
  }
  .footer-tex{
    color: #FFF;
  }
.mini-section{
  display: flex;
}
.mini-games-logo{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  padding-left: 249px;
  padding-right: 282px;
  padding-bottom: 100px;



}
.mini-games-logo :hover{
  border: 1px solid red;
  border-radius: 50px;
  background: #dd07b9;
  color: #FFF;
  cursor: pointer;
}
.logo-3 :hover{
  border: 1px solid red;
  border-radius: 5px;
  cursor: pointer;
  /* i am sorry sir ami play icon ante pari nay */
 }

.hide{
  display: none;
}




/* mobie device */
@media screen and (max-width:425px){
  nav{
    flex-direction: column;
   align-items: center;
   padding-left: 5px;
   padding-bottom: 15px;
   
  }
    .manu-items {
      flex-direction: column;
    }
    .logo-container {padding-left: 250px;
}
.manu-items {
  padding-left: 245px;
}
.banner-part {
  flex-direction: column-reverse;
  row-gap: 15px;
  
  
}
  .banner-text {
    padding-left: 30px;
    width: auto;
    height: 550px;
   }
   .online-logo-sec {
    flex-direction: column;
    padding-left: 35px;
    }
.logo-textss{
  text-align: center;
}
.hard-container {
  flex-direction: column;
  margin-top: 0;
}
.hard-sec-texts{
padding-left: 10px;

}
.hard-tex{
  padding-left: 30px;
  width: 350px;
}
.hard-para{
  padding-left: 27px;
  width: 350px;
}
.hard-img{
  padding-top: 50px;
}
.first{
  width: 400px;
  padding-left: 5px;
}
.sceond{
  width: 200px;
  padding-left: 95px;
  padding-top: 100px;
}
.kids-photo{
  width: 400px;
}
.mini-games-logo{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding-left: 10px;
  padding-right: 0;
  width: 390px;


}
.mini-games{
  width: 50px;
  
}
.mini-section img{
  width: 40px;
  height: 50px;
  padding-top: 10px;
}

.footer-tex-two{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  padding-left: 50px;
}
.footer-tex{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
  padding-left: 35px;
}
.copy-right{
  width: 350px;
  padding-left: 30px;
}

}